body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body,
#root {
    width: 100vw;
    height: 100vh;
}


/* Custom scrollbar - Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 #a0a0a0;
}


/* Custom scrollbar - Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    margin-right: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 20px;
    border: 3px solid #a0a0a0;
}